<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("partials/head.ejs") %>
        <title>Minute Coffee - Order Confirmation</title>
    </head>
    <body>
        <main>
            <%- include("partials/header.ejs") %>
            <section class="checkout-layout">
                <article class="coffee-card">
                    <img src="/img/coffee.jpg" alt="Takeaway coffee cup" />
                    <h2><%= orderProduct.product.name %></h2>
                    <p><%= orderProduct.product.description %></p>
                </article>
                <article class="form-grid">
                    <label for="time">Order Time:</label>
                    <span id="status">
                        <%= orderProduct.order.created.toLocaleString()%>
                    </span>
                    <label for="name">Order Name:</label>
                    <span id="name">
                        <%= orderProduct.order.customerFirstName %>
                    </span>
                    <label for="status">Order Status:</label>
                    <span id="status">
                        <%= orderProduct.order.status %>
                    </span>
                    <a href="/" class="link-button">Back</a>
                    <a href="./<%= orderProduct.order.id %>" class="link-button">
                        Refresh
                    </a>
                </article>
            </section>
            <%- include("partials/footer.ejs") %>
        </main>
    </body>
</html>