<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("partials/head.ejs") %>
        <title>Minute Coffee - Order Management</title>
    </head>
    <body>
        <main>
            <%- include("partials/header.ejs") %> 
            <%- include("partials/nav.ejs", { role }) %>
            <section class="">
                <nav>
                    <a href="/orders/view?status=pending">Pending Orders</a>
                    <a href="/orders/view?status=complete">Complete Orders</a>
                    <a href="/orders/view?status=cancelled">Cancelled Orders</a>
                </nav>
                <section class="cols-3 data-list">
                    <span class="data-list-heading">Product / Customer</span>
                    <span class="data-list-heading">Order Time</span>
                    <span class="data-list-heading">Status</span>
                    <% for (let orderProduct of ordersProducts) { %>
                    <div>
                        <span><%= orderProduct.product.name %></span><br />
                        <span><%= orderProduct.product.customerName %></span>
                    </div>
                    <span><%= orderProduct.order.created.toLocaleString() %></span>
                    <form action="/orders/update" method="post" class="order-update-form">
                        <input type="hidden" name="orderId" value="<%= orderProduct.order.id %>" />
                        <select name="status">
                            <option value="" disabled selected>Select</option>
                            <option value="pending">Pending</option>
                            <option value="complete">Complete</option>
                            <option value="cancelled">Cancelled</option>
                        </select>
                        <input type="submit" value="Update" />
                    </form>
                    <% } %>
                </section>
            </section>
            <%- include("partials/footer.ejs") %>
        </main>
    </body>
</html>