<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("partials/head.ejs") %>
        <title>Minute Coffee - Checkout</title>
    </head>
    <body>
        <main>
            <%- include("partials/header.ejs") %>
            <section class="checkout-layout">
                <article class="coffee-card">
                    <img src="/img/coffee.jpg" alt="Takeaway coffee cup" />
                    <h2><%= product.name %></h2>
                    <span>$<%= product.price %></span>
                    <p><%= product.description %></p>
                </article>
                <form action="/orders" method="post" class="form-grid">
                    <input type="hidden" name="productId" value="<%= product.id %>" />
                    <label for="customer-first-name">First Name:</label>
                    <input type="text" name="customerFirstName" id="customer-first-name" />
                    <label for="customer-last-name">Last Name:</label>
                    <input type="text" name="customerLastName" id="customer-last-name" />
                    <label for="">Phone:</label>
                    <input type="tel" name="customerPhone" id="customer-phone" />
                    <label for="customer-email">Email:</label>
                    <input type="email" name="customerEmail" id="customer-email" />
                    <a href="/" class="link-button">Back</a>
                    <input type="submit" value="Order now!" />
                </form>
            </section>
            <%- include("partials/footer.ejs") %>
        </main>
    </body>
</html>