<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("partials/head.ejs") %>
        <title>Minute Coffee - Staff Admin</title>
    </head>
    <body>
        <main>
            <%- include("partials/header.ejs") %> <%-
            include("partials/admin_nav.ejs", {access_role: access_role}) %>
            <section class="half-half-layout">
                <section class="cols-4 data-list">
                    <span class="data-list-heading">Name</span>
                    <span class="data-list-heading">Username</span>
                    <span class="data-list-heading">Role</span>
                    <span></span>
                    <% for (let staff of staffs) { %>
                    <span><%= staff.first_name %> <%= staff.last_name %></span>
                    <span><%= staff.username %></span>
                    <span><%= staff.access_role %></span>
                    <a
                        href="/staff_admin?edit_id=<%= staff.staff_id %>"
                        class="link-button"
                        >Edit</a
                    >
                    <% } %>
                </section>
                <form action="/edit_staff" method="post" class="form-grid">
                    <input
                        type="hidden"
                        name="staff_id"
                        value="<%= edit_staff.staff_id %>"
                    />
                    <label for="first-name">First Name:</label>
                    <input
                        type="text"
                        name="first_name"
                        id="first-name"
                        value="<%= edit_staff.first_name %>"
                    />
                    <label for="last-name">Last Name:</label>
                    <input
                        type="text"
                        name="last_name"
                        id="last-name"
                        value="<%= edit_staff.last_name %>"
                    />
                    <label for="access-role">Access Role</label>
                    <select name="access_role" id="access-role">
                        <option value="admin">Admin</option>
                        <option value="stock">Stock</option>
                        <option value="sales">Sales</option>
                    </select>
                    <script>
                        // This is a hack to set the selected option of the select box above
                        document.getElementById("access-role").value =
                            "<%= edit_staff.access_role %>";
                    </script>
                    <label for="username">Username:</label>
                    <input
                        type="text"
                        name="username"
                        id="username"
                        value="<%= edit_staff.username %>"
                    />
                    <label for="password">Password:</label>
                    <input
                        type="password"
                        name="password"
                        id="password"
                        value="<%= edit_staff.password %>"
                    />
                    <input type="submit" name="action" value="delete" />
                    <% if (edit_staff.staff_id == "0") { %>
                    <input type="submit" name="action" value="create" />
                    <% } else { %>
                    <input type="submit" name="action" value="update" />
                    <% } %>
                </form>
            </section>
            <%- include("partials/footer.ejs") %>
        </main>
    </body>
</html>
